body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #333; /* Koyu gri dış arka plan */
}

#game-container {
    border: 5px solid #ff8c00; /* Turuncu sınır */
    background-color: #000; /* Siyah oyun alanı kutusu */
    box-shadow: 0 0 20px #ff8c00;
    position: relative;
    overflow: hidden;
}

/* Arka Plan Yazısı - CS PEAK 2025 */
#game-container::before {
    content: "CS PEAK 2025";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bold;
    color: rgba(255, 140, 0, 0.1); /* Yarı şeffaf turuncu */
    z-index: 1; /* Diğer oyun öğelerinin arkasında kalması için */
    pointer-events: none;
}

#gameCanvas {
    display: block;
    background-color: #000;
    z-index: 2; /* Arka plan yazısının önünde olması için */
}

#score-display, #high-score-display {
    position: absolute;
    top: 10px;
    color: #ff8c00; /* Turuncu skor */
    font-size: 24px;
    font-weight: bold;
    z-index: 3;
}

#score-display {
    left: 10px;
}

#high-score-display {
    right: 10px;
}

#message-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border: 2px solid #ff8c00;
    font-size: 20px;
    z-index: 4;
    cursor: pointer;
}